@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F375B9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E935A2;
    margin-bottom: 20px;
    width: auto;
    height: 100px;
    border-bottom: #95366E solid 2px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #E935A2;
    margin-top: 25px;
    width: auto;
    height: 50px;
    border-top: #95366E solid 2px;
}